[submodule "RICK"]
	path = RICK
	url = https://github.com/tongjizhangbang/TTTT.git
[submodule "BBBB"]
	path = BBBB
	url = https://github.com/tongjizhangbang/BBBB.git
[submodule "rick"]
	path = rick
	url = https://github.com/tongjizhangbang/BBBB.git
[submodule "SUB"]
	path = SUB
	url = https://github.com/tongjizhangbang/BBBB.git
[submodule "RICK1"]
	path = RICK1
	url = https://github.com/tongjizhangbang/TTTT.git
[submodule "RICK2"]
	path = RICK2
	url = https://github.com/tongjizhangbang/BBBB.git
